:root {
  --azul-primario: #0066cc;
  --azul-secundario: #0052a3;
  --azul-claro: #e8f4fd;
  --azul-muy-claro: #f0f7ff;
  --gris-texto: #2c3e50;
	--gris-fondo: #f5f5f5;
}

.fragment_220 {
	background-color: var(--gris-fondo);
}

.travel-hub_card{
  border-radius: 1rem;
}

.travel-hub_card-img{
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
  height: 150px;
	object-fit: cover;
	object-position: center;
}

.travel-hub_card-title{
	font-weight: 500;
}

.travel-hub_card-text{
  font-size: 90%;
	color: #545454;
}